#head{
     background-image: url(../pictures/food_672450320.webp); 
     background-repeat: no-repeat;
    height: 70vh;
    background-position: center center;
    background-size: cover;
}
#clock{
    height: 400px;
}
#digrma{
    height: 300px; 
}